<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.atalk.android"
    android:installLocation="internalOnly">

    <application>
        <activity
            android:name=".plugin.geolocation.OsmActivity"
            android:exported="true"
            android:icon="@drawable/ic_logo"
            android:label="OSM Map">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <!--
          The API key for Google Maps-based APIs is defined as a string resource.
          (See the file "res/values/google_maps_api.xml").
          Note that the API key is linked to the encryption key used to sign the APK.
          You need a different API key for each encryption key, including the release key
          that is used to sign the APK for publishing.
          You can define the keys for the debug and release targets in src/debug/ and src/release/.
     -->
        <meta-data
            android:name="BING_KEY"
            android:value="" />
        <meta-data
            android:name="MAPQUEST_ACCESS_TOKEN"
            android:value="" />
        <meta-data
            android:name="MAPBOX_MAPID"
            android:value="" />
        <meta-data
            android:name="MAPBOX_ACCESS_TOKEN"
            android:value="" />
        <meta-data
            android:name="HEREWEGO_MAPID"
            android:value="hybrid.day" />
        <meta-data
            android:name="HEREWEGO_APPID"
            android:value="" />
        <meta-data
            android:name="HEREWEGO_APPCODE"
            android:value="" />
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

    </application>

</manifest>