<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.atalk.android"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application >

        <activity
            android:name=".gui.LauncherDebugActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/APPLICATION_NAME"
            android:launchMode="singleTask" />

        <service
            android:name="org.atalk.impl.appupdate.OnlineUpdateService"
            android:enabled="true" />

    </application>
</manifest>